<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Jakhongir's Portfolio</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    {#    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">#}
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    {#    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy"#}
    {#          rel="stylesheet">#}

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>

    <!-- =======================================================
    * Template Name: Laura
    * Updated: Jul 27 2023 with Bootstrap v5.3.1
    * Template URL: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">

    <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#resume">Resume</a></li>
            <li><a class="nav-link scrollto" href="#services">Services</a></li>
            <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
            {#            <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>#}
            {#                <ul>#}
            {#                    <li><a href="#">Drop Down 1</a></li>#}
            {#                    <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>#}
            {#                        <ul>#}
            {#                            <li><a href="#">Deep Drop Down 1</a></li>#}
            {#                            <li><a href="#">Deep Drop Down 2</a></li>#}
            {#                            <li><a href="#">Deep Drop Down 3</a></li>#}
            {#                            <li><a href="#">Deep Drop Down 4</a></li>#}
            {#                            <li><a href="#">Deep Drop Down 5</a></li>#}
            {#                        </ul>#}
            {#                    </li>#}
            {#                    <li><a href="#">Drop Down 2</a></li>#}
            {#                    <li><a href="#">Drop Down 3</a></li>#}
            {#                    <li><a href="#">Drop Down 4</a></li>#}
            {#                </ul>#}
            {#            </li>#}
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h1>Jahongir Jalilov</h1>
        <h2>I'm one of the Professional Python Back-End Developer In Karshi City</h2>
        <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Me Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <span>About Me</span>
                <h2>About Me</h2>
                <p></p>
            </div>

            <div class="row">
                <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
                <div class="col-lg-8 d-flex flex-column align-items-stretch">
                    <div class="content ps-lg-4 d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Name:</strong>
                                        <span>Jahongir Jalilov</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong><span><a
                                            href="https://pandacafe.pythonanywhere.com/">https://islohot.pythonanywhere.com/</a></span>
                                    </li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong>
                                        <span>+998 90 8632230</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>City:</strong>
                                        <span>Karshi, Uzbekistan</span></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>22</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Junior</span>
                                    </li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>PhEmailone:</strong> <span>jalilovjahongir99@gmail.com</span>
                                    </li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong>
                                        <span>Available</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row mt-n4">
                            <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-emoji-smile" style="color: #20b38e;"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="10"
                                          data-purecounter-duration="1" class="purecounter"></span>
                                    <p><strong>Happy Clients</strong> they contribute to our growth.</p>
                                </div>
                            </div>

                            <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-journal-richtextr" style="color: #8a1ac2;"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="30"
                                          data-purecounter-duration="1" class="purecounter"></span>
                                    <p><strong>Projects</strong> are built for pleasure.</p>
                                </div>
                            </div>

                            <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-clock" style="color: #2cbdee;"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="2"
                                          data-purecounter-duration="1" class="purecounter"></span>
                                    <p><strong>Years of experience</strong> comfort can be sought in some way, because I
                                        will
                                        drive with pleasure or not</p>
                                </div>
                            </div>


                        </div>
                    </div><!-- End .content-->

                    <div class="skills-content ps-lg-4">
                        <div class="progress">
                            <span class="skill">Python <i class="val">75%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                     aria-valuemax="85"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Django <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">DRF <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Me Section -->

    <!-- ======= My Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">

            <div class="section-title">
                <span>My Resume</span>
                <h2>My Resume</h2>
                <p></p>
            </div>

            <div class="row">
                <div class="col-lg-6">

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Python Back-End</h4>
                        <h5>2022 - 2023</h5>
                        <p><em>IT City Academy</em></p>
                        <p>Python Back-End Development is the bedrock of user experiences, seamlessly connecting the
                            front-end visuals with the underlying data and logic. With an emphasis on efficiency and
                            reliability, back-end developers work diligently to construct APIs (Application Programming
                            Interfaces) that serve as bridges between the user interface and the databases, enabling
                            smooth data transmission and retrieval.</p>
                    </div>
                    <div class="resume-item">
                        <h4>English Philology</h4>
                        <h5>2020 - </h5>
                        <p><em>Karshi State University</em></p>
                        <p>English Philology, an enchanting field of study nestled at the intersection of
                            language and literature, delves into the intricacies of the English language's
                            evolution, structure, and usage, while simultaneously exploring the rich tapestry
                            of literary masterpieces it has woven over centuries. </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Junior Python BACK-END Developer</h4>
                        <h5>2023 - Present</h5>
                        <p><em>Experience --> Karshi</em></p>
                        <p>
                        <ul>
                            <li>
                                I Learned many frameworks in python and build many websites to get experience.
                            </li>
                            <li>Delegate tasks to the 4 members of the python team and provide counsel on all aspects of
                                the project.
                            </li>
                            <li>
                                Supervise the assessment of all working process in order to ensure quality and accuracy
                                of the python.
                            </li>

                        </ul>
                        </p>
                    </div>
                    {#                    <div class="resume-item">#}
                    {#                        <h4>Graphic design specialist</h4>#}
                    {#                        <h5>2017 - 2018</h5>#}
                    {#                        <p><em>Stepping Stone Advertising, New York, NY</em></p>#}
                    {#                        <p>#}
                    {#                        <ul>#}
                    {#                            <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and#}
                    {#                                advertisements).#}
                    {#                            </li>#}
                    {#                            <li>Managed up to 5 projects or tasks at a given time while under pressure</li>#}
                    {#                            <li>Recommended and consulted with clients on the most appropriate graphic design</li>#}
                    {#                            <li>Created 4+ design presentations and proposals a month for clients and account managers#}
                    {#                            </li>#}
                    {#                        </ul>#}
                    {#                        </p>#}
                    {#                    </div>#}
                </div>
            </div>

        </div>
    </section><!-- End My Resume Section -->

    <!-- ======= My Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <span>My Services</span>
                <h2>My Services</h2>
                <p></p>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-python"></i></div>
                        <h4 class="title"><a href="https://www.w3schools.com/python/default.asp">Python</a></h4>
                        <p class="description">Python is a high-level, interpreted programming language known for its
                            simplicity, readability, and versatility. It was created by Guido van Rossum and first
                            released in 1991. </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-python"></i></div>
                        <h4 class="title"><a href="https://www.w3schools.com/django/index.php">Django</a></h4>
                        <p class="description">jango is a high-level Python web framework that simplifies and
                            streamlines the process of building robust, scalable, and maintainable web applications.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-python"></i></div>
                        <h4 class="title"><a href="https://www.django-rest-framework.org/">DRF</a></h4>
                        <p class="description">DRF stands for Django Rest Framework. It's a powerful and flexible
                            toolkit built on top of Django, a popular Python web framework, that simplifies the process
                            of building Web APIs...</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-telegram"></i></div>
                        <h4 class="title"><a href="https://core.telegram.org/bots/samples#python">Telegram_Bot</a></h4>
                        <p class="description">A Telegram bot in Python is a program that interacts with the Telegram
                            messaging platform's Bot API using the Python programming language. Telegram is a popular
                            ...</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End My Services Section -->

    <!-- ======= Testimonials Section ======= -->
    {#    <section id="testimonials" class="testimonials">#}
    {#        <div class="container position-relative">#}
    {##}
    {#            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">#}
    {#                <div class="swiper-wrapper">#}
    {##}
    {#                    <div class="swiper-slide">#}
    {#                        <div class="testimonial-item">#}
    {#                            <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img"#}
    {#                                 alt="">#}
    {#                            <h3>Saul Goodman</h3>#}
    {#                            <h4>Ceo &amp; Founder</h4>#}
    {#                            <p>#}
    {#                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
    {#                                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit#}
    {#                                rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam,#}
    {#                                risus at semper.#}
    {#                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
    {#                            </p>#}
    {#                        </div>#}
    {#                    </div><!-- End testimonial item -->#}
    {##}
    {#                    <div class="swiper-slide">#}
    {#                        <div class="testimonial-item">#}
    {#                            <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img"#}
    {#                                 alt="">#}
    {#                            <h3>Sara Wilsson</h3>#}
    {#                            <h4>Designer</h4>#}
    {#                            <p>#}
    {#                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
    {#                                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid#}
    {#                                cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet#}
    {#                                legam anim culpa.#}
    {#                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
    {#                            </p>#}
    {#                        </div>#}
    {#                    </div><!-- End testimonial item -->#}
    {##}
    {#                    <div class="swiper-slide">#}
    {#                        <div class="testimonial-item">#}
    {#                            <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img"#}
    {#                                 alt="">#}
    {#                            <h3>Jena Karlis</h3>#}
    {#                            <h4>Store Owner</h4>#}
    {#                            <p>#}
    {#                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
    {#                                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam#}
    {#                                duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.#}
    {#                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
    {#                            </p>#}
    {#                        </div>#}
    {#                    </div><!-- End testimonial item -->#}
    {##}
    {#                    <div class="swiper-slide">#}
    {#                        <div class="testimonial-item">#}
    {#                            <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img"#}
    {#                                 alt="">#}
    {#                            <h3>Matt Brandon</h3>#}
    {#                            <h4>Freelancer</h4>#}
    {#                            <p>#}
    {#                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
    {#                                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat#}
    {#                                minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore#}
    {#                                labore illum veniam.#}
    {#                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
    {#                            </p>#}
    {#                        </div>#}
    {#                    </div><!-- End testimonial item -->#}
    {##}
    {#                    <div class="swiper-slide">#}
    {#                        <div class="testimonial-item">#}
    {#                            <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img"#}
    {#                                 alt="">#}
    {#                            <h3>John Larson</h3>#}
    {#                            <h4>Entrepreneur</h4>#}
    {#                            <p>#}
    {#                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
    {#                                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster#}
    {#                                veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam#}
    {#                                culpa fore nisi cillum quid.#}
    {#                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
    {#                            </p>#}
    {#                        </div>#}
    {#                    </div><!-- End testimonial item -->#}
    {##}
    {#                </div>#}
    {#                <div class="swiper-pagination"></div>#}
    {#            </div>#}
    {##}
    {#        </div>#}
    {#    </section><!-- End Testimonials Section -->#}

    <!-- ======= My Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title">
                <span>My Portfolio</span>
                <h2>My Portfolio</h2>
            </div>

            <ul id="portfolio-flters" class="d-flex justify-content-center">
                <li data-filter="*" class="filter-active">Projects</li>
                {#                <li data-filter=".filter-app">App</li>#}
                {#                <li data-filter=".filter-card">Card</li>#}
                {#                <li data-filter=".filter-web">Web</li>#}
            </ul>

            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="{% static 'assets/img/isloxot.jpg' %}"
                                                    class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="{% static 'assets/img/panda.png' %}"
                                                    class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="{% static 'assets/img/shopper.png' %}"
                                                    class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="{% static 'assets/img/shop.jpg' %}"
                                                    class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="{% static 'assets/img/isloxot.png' %}"
                                                    class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="{% static 'assets/img/cafe.jpg' %}"
                                                    class="img-fluid" alt="">
                    </div>

                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                </div>
            </div>

        </div>
    </section><!-- End My Portfolio Section -->

    <!-- ======= Pricing Section ======= -->

    <!-- ======= Contact Me Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <span>Contact Me</span>
                <h2>Contact Me</h2>
                <p></p>
            </div>

            <div class="row">

                <div class="col-lg-6">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box">
                                <i class="bx bx-share-alt"></i>
                                <h3>Social Profiles</h3>
                                <div class="social-links">
                                    <a href="https://twitter.com/account/" class="twitter"><i class="bi bi-twitter"></i></a>
                                    <a href="https://www.facebook.com/" class="facebook"><i class="bi bi-facebook"></i></a>
                                    <a href="https://www.instagram.com/joxa_22_30/" class="instagram"><i
                                            class="bi bi-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/jahongir-jalilov-877a50288/"
                                       class="linkedin"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box mt-4">
                                <i class="bx bx-envelope"></i>
                                <h3>Email Me</h3>
                                <p>jalilovjahongir99@gmail.com</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box mt-4">
                                <i class="bx bx-phone-call"></i>
                                <h3>Call Me</h3>
                                <p>+998 90 8632230</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form action="{% url 'index' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                       required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                   required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="text" rows="6" placeholder="Message"
                                      required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading"></div>
                            <div class="error-message"></div>
                            <div class="sent-message"></div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- End Contact Me Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <h3>Jahongir Jalilov</h3>
        <p>It was about me</p>
        <div class="social-links">
            <a href="https://twitter.com/" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/joxa_22_30/" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.linkedin.com/in/jahongir-jalilov-877a50288/" class="linkedin"><i
                    class="bx bxl-linkedin"></i></a>
        </div>


    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>